body,p {
    margin: 0;
    padding:0;
}
.center-block {
    width: 600px;
    margin: 0 auto;
}

.info {
    padding-top: 50px;
    text-align: center;
}
.left {
    float: left;
}

.right {
    float: right;
}
.time-list {
    clear:both;
    width: 300px;
    margin: 0 auto;
}

.time-item {
    width: 100%;
    display: block;
    line-height: 25px;
    text-align: right;
    border-bottom: 1px solid;
    position:relative;
}

.progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: red;
}

.time-item:last-child {
    border-bottom: none;
}

.time-item.gone {
    text-align: left;
}

.bold {
    font-weight: bold;
}
.gone {
    color: #ADADAD;
}

.normal-text {
    text-align: center;
    color: #6b6b6b;
}

.is-time {
    font-size: 80px;
    width: 100%;
    text-align: center;
}
.reset-action, .smoke-action {
    width: 100%;
    text-align: center;
}
.btn {
    margin: 10px auto 0;
    display: block;
    background: #ad1f37;
    background-image: -webkit-linear-gradient(top, #ad1f37, #cf1919);
    background-image: -moz-linear-gradient(top, #ad1f37, #cf1919);
    background-image: -ms-linear-gradient(top, #ad1f37, #cf1919);
    background-image: -o-linear-gradient(top, #ad1f37, #cf1919);
    background-image: linear-gradient(to bottom, #ad1f37, #cf1919);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #f5ebf5;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border: solid #8c1f1f 2px;
    text-decoration: none;
}

.btn:hover {
    background: #e00d42;
    background-image: -webkit-linear-gradient(top, #e00d42, #cc103f);
    background-image: -moz-linear-gradient(top, #e00d42, #cc103f);
    background-image: -ms-linear-gradient(top, #e00d42, #cc103f);
    background-image: -o-linear-gradient(top, #e00d42, #cc103f);
    background-image: linear-gradient(to bottom, #e00d42, #cc103f);
    text-decoration: none;
}

.btn:disabled {
    background: #e0757e;
    /*background-image: -webkit-linear-gradient(top, #e00d42, #cc103f);*/
    /*background-image: -moz-linear-gradient(top, #e00d42, #cc103f);*/
    /*background-image: -ms-linear-gradient(top, #e00d42, #cc103f);*/
    /*background-image: -o-linear-gradient(top, #e00d42, #cc103f);*/
    /*background-image: linear-gradient(to bottom, #e00d42, #cc103f);*/
    text-decoration: none;
}

.reset-action {
    padding-top: 20px;
}
.reset-action a {
    text-decoration: none;
    color: #6b6b6b;
}


/********* FORM *********/
.settings-form {
    width: 300px;
    margin: 100px auto 0;
}

.settings-form .form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.settings-form label {
    width: 100%;
    display: block;
    line-height: 25px;
}

.settings-form input {
    margin-top: 10px;
    display: block;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #343536;
    line-height: 20px;
    text-align: center;
    font-size: 30px;
}

.settings-form .error {
    background-color: rgba(182, 55, 150, 0.51);
    line-height:25px;
    text-align: center;
    font-size: 15px;
    border-radius: 0 0 5px 5px;
}

.settings-form .info {
    background-color: rgba(25, 167, 0, 0.51);
    line-height:25px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    padding-top: 0;
}

.settings-form select {
    width: 50px;
    line-height: 25px;
    margin-top: 10px;
    font-size: 20px;
}

.settings-form button {
    margin: 10px auto 0;
    width: 100px;
    display: block;
    line-height: 20px;
}