<div *ngIf!="configRead">
    <form (ngSubmit)="onSubmit()" class="settings-form">
        <div class="form-group" [ngFormModel]="form">
            <label for="cigaretteCount">Liczba papierosów</label>
            <input type="text"
                   id="cigaretteCount"
                   class="form-control"
                   ngControl="cCtrl"
            />

            <div *ngIf="cCtrl.dirty && !cCtrl.valid" class="error">
                <p *ngIf="cCtrl.errors.required">Wpisz ilość papierosów</p>

                <p *ngIf="cCtrl.errors.isNumber">Wprowadź liczbę</p>

                <p *ngIf="cCtrl.errors.isPositiveNumber">Liczba musi być dodatnia</p>
            </div>
        </div>
        <div class="form-group" [ngFormModel]="timeCtrl">
            <label for="endDateHour">Kiedy zapalisz ostatniego?</label>
            <select id="endDateHour"
                    ngControl="hCtrl">
                <option *ngFor="#item of selectHours; #index = index"
                        value="{{index}}">{{item}}
                </option>
            </select>

            <div *ngIf="hCtrl.dirty && !hCtrl.valid" class="error">
                <p *ngIf="hCtrl.errors.required">Wybierz godzinę</p>
            </div>
            :
            <select id="endDateMinutes"
                    ngControl="mCtrl">
                <option *ngFor="#item of selectMinutes; #index = index"
                        value="{{index}}">{{item}}
                </option>
            </select>

            <div *ngIf="timeCtrl.dirty && !timeCtrl.valid" class="error">
                <p>Wybrana godzina jest niepoprawna</p>
            </div>
        </div>
        <div class="form-group">
            <div [hidden]="form.valid" class="info">
                <p>Wypełnij wszystkie pola</p>
            </div>
            <button type="submit" [disabled]="!form.valid" class="btn">
                Submit
            </button>
        </div>
    </form>
</div>
<div *ngIf="configRead" class="counter-wrapper">
    <div class="info">
        <p class="left bold">
            START {{configData.startDate | date: 'HH:mm:ss'}}
        </p>

        <p class="right bold">
            {{configData.endDate | date: 'HH:mm:ss'}} STOP
        </p>

        <div class="time-list">
            <span class="time-item" *ngFor="#item of periods; #index = index"
                  [class.gone]="index < configData.cigaretteGone "
            >
                {{item | date: 'HH:mm:ss'}}
                <span *ngIf="index == configData.cigaretteGone" class="progress" [style.width]="progressClass+'%'">

                </span>
            </span>

        </div>
    </div>
    <!--<div class="cigarette-left">-->
    <!--Pozostało papierosów: {{configData.cigaretteCount - configData.cigaretteGone}}-->
    <!--</div>-->
    <div class="normal-text">
        Czy już fajka?
    </div>
    <div class="is-time">
        {{isTime ? "TAK" : "NIE"}}
    </div>
    <div class="normal-text">
        Do palenia pozostało:
        <span class="timer-wrapper bold">{{dateString}}</span>
    </div>
    <div *ngIf="isTime && isCigaretteLeft" class="smoke-action">
        <button class="btn" (click)="smokeOne()">Zapal</button>
    </div>
    <div class="reset-action">
        <a href="#" (click)="resetConfig()">Zmiana ustawień</a>
    </div>
</div>
